.top {
    -fx-margin: 0 20 0 20;
    -fx-spacing: 5;
    -fx-font-size: 1.2em;
}

.top .label {
    -fx-graphic-text-gap: 6;
}

.pagination-control {
    visibility: hidden;
}

.frame {
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

.separator {
    -fx-padding: 0 2 0 2;
}

.hyperlink:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 1px;
}

.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:armed,
.hyperlink:armed:visited {
    -fx-text-fill: -fx-text-background-color;
}

.hyperlink:visited {
    -fx-underline: false;
    -fx-text-fill: -fx-accent;
}